name: CI-DockerBuild

on: 
  push:
    branches: ["master"]
  workflow_dispatch:

jobs:
  build-and-deploy:
    uses: alexisvg2520/devops-pipelines/.github/workflows/docker-workflow.yml@master
    with:
      docker_image_name: holamundoopenshift
    secrets: inherit